@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root {
  --black: #000;
  --white: #fff;
  --grey: #e1e4e8;
  --blue: rgb(0, 110, 255);
  --js-yellow: #f1e05a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  position: relative;
}
.loader-parent {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
#checkbox {
  display: none;
}
.mobile-nav {
  opacity: 0;
}
.header {
  padding: 1rem;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
}
.github-logo {
  width: 3rem;
  top: 0.5rem;
  position: absolute;
}
.header-input {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  display: inline-block;
  height: 3rem;
  margin-left: 4rem;
  border: 1px solid var(--grey);
}
.header-navigation {
  margin-left: 1rem;
  display: inline-flex;
  white-space: nowrap;
  cursor: pointer;
}
.github-info,
.github-user {
  display: flex;
  justify-content: space-around;
}
.github-user {
  position: absolute;
  right: 0;
  top: 1rem;
  font-size: 2rem;
}
.github-user > *,
.github-info > * {
  margin-right: 1rem;
}
.mini-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.dashboard-options {
  font-size: 1.5rem;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}
.dashboard-options-content {
  margin-right: 2rem;
  display: flex;
}
.dashboard-options-content > * {
  margin-right: 1rem;
}
.dashboard-options-content span {
  background-color: var(--grey);
  border-radius: 0.8rem;
  padding: 0.1rem;
}
.dashboard {
  display: flex;
}
.dashboard-sidebar {
  width: 30%;
}

.huge-avatar {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  z-index: 1;
  margin-top: -1rem;
  margin-left: 2rem;
}
.github-name,
.github-bio,
.github-username {
  text-align: center;
}
.github-name {
  font-weight: bolder;
  font-size: 2.5rem;
}
.github-username {
  font-size: 1.5rem;
  font-weight: lighter;
}
.github-bio {
  font-size: 1.5rem;
  word-wrap: break-word;
  font-weight: bold;
}
.dashboard-content {
  width: 70%;
}
.dashboard-content-search {
  width: 70%;
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  border: 1px solid var(--grey);
  margin-top: 1rem;
}
.dashboard-content-number {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 1rem;
  display: block;
}
.github-repo {
  width: 70%;
  border-bottom: 1px solid var(--black);
}
.github-repo-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.github-repo-name h3 {
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--blue);
}
.github-repo-name button {
  grid-column: -1;
  border: none;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.github-repo-name button:not(:first-child) {
  margin-top: 1rem;
}
.github-repo-name button i {
  color: var(--white);
}
.github-repo-name button > * {
  margin-right: 1rem;
}
.github-repo-description {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.github-repo-stats {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.github-repo-stats > * {
  margin-right: 1rem;
}
.github-repo-language,
.github-repo-stars,
.github-repo-forks {
  display: flex;
}
.github-repo-forks img {
  width: 1rem;
}
.github-repo-language span {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
@media only screen and (max-width: 800px) {
  .header-navigation {
    display: none;
  }
  .mobile-nav {
    opacity: 1;
    width: 3rem;
    height: 2px;
    background-color: var(--white);
    display: inline-block;
  }
  .mobile-nav::before,
  .mobile-nav::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 2px;
    background-color: var(--white);
  }
  .mobile-nav::before {
    top: 1rem;
  }
  .mobile-nav::after {
    top: 2.5rem;
  }
  #checkbox:checked ~ .header-navigation {
    display: block;
    margin-top: 4rem;
  }
  .dashboard {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .github-info {
    flex-direction: column;
    align-items: center;
  }
  .github-info > * {
    margin-top: 1rem;
  }

  .github-logo {
    left: 50%;
  }
  .github-repo {
    width: 100%;
  }
  .header-input {
    display: none;
  }
  .github-user {
    position: inherit;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 1rem;
  }
  .dashboard-content,
  .dashboard-sidebar {
    width: 100%;
  }
  .dashboard-options {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 700px) {
  .github-repo-name h3 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .github-repo-description {
    font-size: 1.3rem;
  }
  .github-repo-stats {
    font-size: 1rem;
  }
}
